<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


    <system.serviceModel>
      
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_Icl" />
                <binding name="WSHttpBinding_Icl1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:9999/cl" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_Icl" contract="SR1.Icl"
                name="WSHttpBinding_Icl" />
            <endpoint address="http://127.0.0.1:9999/cl" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_Icl1" contract="ServiceReference2.Icl"
                name="WSHttpBinding_Icl1">
                <identity>
                    <userPrincipalName value="HORACE-PC\Horace" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>

